/**********************************************************************
**															
** Admin Styles                                  
**                                  
***********************************************************************/

/* --------------------------------------------------------------------
Header Image (Appearance -> Header)
-------------------------------------------------------------------- */
#headimg {
	background-color: #DDD;
}

#headimg h1,
#headimg #desc {
	display: none;
}

/* --------------------------------------------------------------------
Hide "Customize" Link in Themes Panel
-------------------------------------------------------------------- */
#customize-current-theme-link {
	display: none;
}