/************************************************************
**															
** BASE STYLESHEET                                           
**   
** Sets defaults & normalization.  
** Add your custom styles in style.css            
**                                      
*************************************************************/

/* ----------------------------------------------------------
:: HTML5 Boilerplate Normalization 
http://html5boilerplate.com/
------------------------------------------------------------- */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ----------------------------------------------------------
:: Alignment
------------------------------------------------------------- */

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* ----------------------------------------------------------
:: Fluid 12-Column Grid System

Based on work by ZURB - http://foundation.zurb.com
------------------------------------------------------------- */
.container { padding: 0 20px; }

.row { width: 100%; max-width: 980px; min-width: 727px; margin: 0 auto; }
/* To fix the grid into a certain size, set max-width to width */
.row .row { min-width: 0; }

.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; }
.column:first-child, .columns:first-child { margin-left: 0; }
[class*="column"] + [class*="column"]:last-child { float: right; }

.row .one     { width: 4.3%; }
.row .two     { width: 13%; }
.row .three   { width: 21.679%; }
.row .four    { width: 30.37%; }
.row .five    { width: 39.1%; }
.row .six     { width: 47.8%; }
.row .seven   { width: 56.5%; }
.row .eight   { width: 65.2%; }
.row .nine    { width: 73.9%; }
.row .ten     { width: 82.6%; }
.row .eleven  { width: 91.3%; }
.row .twelve  { width: 100%; }

.row .offset-by-one   { margin-left: 13.1%;  }
.row .offset-by-two   { margin-left: 21.8%;  }
.row .offset-by-three   { margin-left: 30.5%;  }
.row .offset-by-four  { margin-left: 39.2%;  }
.row .offset-by-five  { margin-left: 47.9%;  }
.row .offset-by-six   { margin-left: 56.6%;  }
.row .offset-by-seven   { margin-left: 65.3%;  }
.row .offset-by-eight   { margin-left: 74.0%;  }
.row .offset-by-nine  { margin-left: 82.7%;  }
.row .offset-by-ten   { margin-left: 91.4%;  }

.row .centered { float: none; margin: 0 auto; }

.row .offset-by-one:first-child   { margin-left: 8.7%;  }
.row .offset-by-two:first-child   { margin-left: 17.4%;  }
.row .offset-by-three:first-child   { margin-left: 26.1%;  }
.row .offset-by-four:first-child  { margin-left: 34.8%;  }
.row .offset-by-five:first-child  { margin-left: 43.5%;  }
.row .offset-by-six:first-child   { margin-left: 52.2%;  }
.row .offset-by-seven:first-child   { margin-left: 60.9%;  }
.row .offset-by-eight:first-child   { margin-left: 69.6%;  }
.row .offset-by-nine:first-child  { margin-left: 78.3%;  }
.row .offset-by-ten:first-child   { margin-left: 87%;  }
.row .offset-by-eleven:first-child  { margin-left: 95.7%;  }

/* Source Ordering */
.push-two     { left: 17.4% }
.push-three   { left: 26.1%; }
.push-four    { left: 34.8%; }
.push-five    { left: 43.5%; }
.push-six     { left: 52.2%; }
.push-seven   { left: 60.9%; }
.push-eight   { left: 69.6%; }
.push-nine    { left: 78.3%; }
.push-ten     { left: 87%; }

.pull-two     { right: 17.4% }
.pull-three   { right: 26.1%; }
.pull-four    { right: 34.8%; }
.pull-five    { right: 43.5%; }
.pull-six     { right: 52.2%; }
.pull-seven   { right: 60.9%; }
.pull-eight   { right: 69.6%; }
.pull-nine    { right: 78.3%; }
.pull-ten     { right: 87%; }

img, object, embed { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }
#map_canvas img, .map_canvas img {max-width: none!important;}
 
 /* Nicolas Gallagher's micro clearfix */
.row:before, .row:after { content:""; display:table; }
.row:after { clear: both; }
.row { zoom: 1; }


/* ----------------------------------------------------------
:: Mobile Grid
-------------------------------------------------------------*/
/*
  @media only screen and (max-width: 767px) {   
    body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
    .container { min-width: 0; margin-left: 0; margin-right: 0; }
    .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
    .row .row .column, .row .row .columns { padding: 0; }
    .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
    .column:last-child, .columns:last-child { margin-right: 0; float: none; }
    [class*="column"] + [class*="column"]:last-child { float: none; }
    [class*="column"]:after { clear: both; }  
}
*/