/* --------------------------------------------------------------------
Hide Un-needed fields in Logo Uploader
-------------------------------------------------------------------- */
.logo-upload-window .slidetoggle .post_title,
.logo-upload-window .slidetoggle .image_alt,
.logo-upload-window .slidetoggle .post_excerpt,
.logo-upload-window .slidetoggle .post_content,
.logo-upload-window .slidetoggle .url,
.logo-upload-window .slidetoggle .align,
.logo-upload-window .slidetoggle .image-size,
.logo-upload-window .slidetoggle .del-link {
	display: none !important;
}

